@import "global.scss";
@import "variables.scss";
@import "typography.scss";

 
.page {
    position: fixed;
    top:0;
    left:0;
    background-color: #FFF;
    outline: 1px solid blue;
    overflow: hidden;
    right:0; 
    min-height: 100%;
    display: flex;
    flex-direction: column;

    p {
        margin-top: 1em;
        margin-bottom: 1em;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.container {
    padding: 10vw 11vw 10vw;
    flex: 1;

    &--full {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        background-color: orange;
        color: #FFF;
    }
} 

.h1 {
    @include fluid-type(13vw, 30px, 180px);
    line-height: 1;
}

.h2 {
    @include fluid-type(10vw, 28px, 130px);
    line-height: 1;
}

.p {
    @include fluid-type(4vw, 16px, 22px);
    line-height: 1.6;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 53rem;
}

.p2 {
    @include fluid-type(5vw, 20px, 26px);
    line-height: 1.6;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 53rem;
}


ul  {
    margin-top: 2em;
    font-size: 1.5em;

    li {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #CCC;
    }
}