@import "global.scss";
@import "variables.scss";
@import "typography.scss";

 
.page {
    position: fixed;
    top:0;
    left:0;
    background-color: #FFF;
    outline: 1px solid blue;
    overflow: hidden;
    right:0; 
    min-height: 100vh;

    p {
        margin-top: 1em;
        margin-bottom: 1em;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.container {
    padding: 10vw 11vw 10vw;

    &--full {
        padding-top: 0;
        padding-bottom: 0;
        height: 100vh;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
} 

.h1 {
    @include fluid-type(13vw, 30px, 180px);
    line-height: .81;
}
